
        .movieItem {
            width: '18rem';
            float: 'left';
            margin: '15px';
        }
        
        ._title {
            padding:20px;
        }
        ._moviesList {
            clear: both
        }
        .card-img-top {
            height: 200px;
            object-fit: cover;
        }
        .card-text {
            min-height: 120px;
        }
        #banner {
            background: url(https://previews.123rf.com/images/christitze/christitze1611/christitze161122517/66737215-movies-red-text-on-typography-background-3d-rendered-royalty-free-stock-image-this-image-can-be-used.jpg) no-repeat;
            background-size: cover;
            text-shadow: 2px 0px 1px #000;
        }
        .lead {
            width: 50%;
        }